# Arduino IDE Build
*.o
*.a
*.so
*.so.*
*.dylib
*.exe
*.out
*.app
*.bin
*.hex
*.elf

# Build directories
build/
dist/
*.build

# IDE settings
.DS_Store
.vscode/
*.code-workspace
.idea/
*.swp
*.swo
*~
.gradle/

# Arduino IDE specific
__MACOSX/
*.ino.cpp
*.ino.d

# PlatformIO (opcional)
.pio/
.pioenvs/
.piolibdeps/

# Logs
*.log
Arduino_Log.txt

# Documentation & extras
*.pdf
*.jpg
*.jpeg
LCD.fzz
TPMMEE*

# OS specific
Thumbs.db
.DS_Store
